.form-group.hidden {
    width: 1px;
    height: 1px;
    margin: 0;
    border: none;
    padding: 0;
}
.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216, 0.8);
  //background-color: #d9534f;
  border-radius: 50%;
  color: white;
  padding: 0.185rem 0.25rem;
}

.custom-day.faded {
  // background-color: rgba(2, 117, 216, 0.5);
  background-color: #e9edf0;
  color: #54708b;
  transition: 0s;
  cursor: pointer;
  // border-radius: 35%;
}

//.ngb-datepicker-navigation-select
.ngb-dp-navigation-select select {
  width: 100px;
}